In [1]:
from torch.utils.data import DataLoader
from torch.autograd import Variable
from Dataloader.Seq2Seq_DataLoader import DataTransformer
import pandas as pd 
import numpy as np

In [2]:
# data_tran = DataTransformer(path = "Data/london/beijing_2017_1_2018_3_aq.csv",
#                                 use_cuda = True)

In [3]:
aqi = pd.read_csv("Data/london/London_historical_aqi_forecast_stations.csv")

In [4]:
aqi = aqi.drop(['Unnamed: 0'],axis=1)
aqi = aqi.dropna(thresh=5)

In [5]:
other = pd.read_csv("Data/london/London_historical_aqi_other_stations.csv")

/home/yuhua/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
other = other.drop(['Unnamed: 5','Unnamed: 6'],axis=1)
other = other.dropna(thresh=5)

In [7]:
aqi=aqi.rename(columns = {'station_id':'stationId'})

In [8]:
aqi.columns

Index(['MeasurementDateGMT', 'stationId', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)',
       'NO2 (ug/m3)'],
      dtype='object')

In [9]:
aqi =aqi[['stationId','MeasurementDateGMT', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)',
       'NO2 (ug/m3)']]

In [10]:
aqi.head()

  stationId MeasurementDateGMT  PM2.5 (ug/m3)  PM10 (ug/m3)  NO2 (ug/m3)
0       CD1      2017/1/1 0:00           40.0          44.4         36.6
1       CD1      2017/1/1 1:00           31.6          34.4         46.2
2       CD1      2017/1/1 2:00           24.7          28.1         38.3
3       CD1      2017/1/1 3:00           21.2          24.5         32.8
4       CD1      2017/1/1 4:00           24.9          23.0         28.1

In [11]:
other=other.rename(columns = {'Station_ID':'stationId'})

In [12]:
other.head()

  stationId MeasurementDateGMT  PM2.5 (ug/m3)  PM10 (ug/m3)  NO2 (ug/m3)
0       LH0      2017/1/1 0:00           30.2          34.6         15.9
1       LH0      2017/1/1 1:00           25.4          29.2         11.8
2       LH0      2017/1/1 2:00           24.7          28.1         11.6
3       LH0      2017/1/1 3:00           23.6          27.0         13.0
4       LH0      2017/1/1 4:00           24.2          27.4         27.1

In [16]:
other.tail()

      stationId MeasurementDateGMT  PM2.5 (ug/m3)  PM10 (ug/m3)  NO2 (ug/m3)
98499       KC1     2017/1/11 9:00            8.7           9.1         50.1
98500       KC1    2017/1/11 10:00            9.1          12.3         30.0
98501       KC1    2017/1/11 11:00            7.4          33.5         21.7
98502       KC1    2017/1/11 12:00            9.9          25.6         20.7
98503       KC1    2017/1/11 13:00            7.7          18.7         15.3

In [14]:
result = pd.concat([aqi,other])

In [17]:
result.to_csv("Processed_london_aq_data", index = False)

In [30]:
import Dataloader.Seq2Seq_DataLoader  as seq2seq

from importlib import reload
reload (Dataloader.Seq2Seq_DataLoader)

In [31]:
data_tran = seq2seq.DataTransformer(path = "Data/london/processed_data/Processed_london_aq_data",
                                use_cuda = True)

In [34]:
batch, label = next(data_tran.mini_batch_generator(data_tran.every_station_data[0]))

In [40]:
data_tran.station_id

['CD1',
 'BL0',
 'GR4',
 'HV1',
 'GN3',
 'GR9',
 'LW2',
 'GN0',
 'CD9',
 'ST5',
 'TH4',
 'LH0',
 'HR1',
 'CT3',
 'RB7',
 'BX1',
 'KC1']

In [44]:
data_tran.raw_data.iloc[10:15]

   stationId MeasurementDateGMT  PM2.5 (ug/m3)  PM10 (ug/m3)  NO2 (ug/m3)
10       CD1     2017/1/1 10:00           16.6          17.5         46.4
11       CD1     2017/1/1 11:00           14.5          14.6         42.5
12       CD1     2017/1/1 12:00           11.0          13.9         44.5
13       CD1     2017/1/1 13:00           13.9          13.4         53.6
14       CD1     2017/1/1 14:00            8.3           8.6         61.4

In [41]:
data_tran.data.loc['CD1',:].iloc[10:10282,:]

,PM2.5 (ug/m3),PM10 (ug/m3),NO2 (ug/m3),hour,day,month,year,dayofweek,dayofyear,is_weekend,work_time
stationId,,,,,,,,,,,
CD1,16.6,17.5,46.4,10,0,0,0,6,1,1,1
CD1,14.5,14.6,42.5,11,0,0,0,6,1,1,1
CD1,11.0,13.9,44.5,12,0,0,0,6,1,1,1
CD1,13.9,13.4,53.6,13,0,0,0,6,1,1,1
CD1,8.3,8.6,61.4,14,0,0,0,6,1,1,1
CD1,7.3,6.1,57.9,15,0,0,0,6,1,1,1
CD1,4.9,6.1,46.0,16,0,0,0,6,1,1,1
CD1,4.6,8.1,96.5,17,0,0,0,6,1,1,1
CD1,8.3,7.3,64.2,18,0,0,0,6,1,1,1
CD1,7.3,8.9,59.7,19,0,0,0,6,1,1,1
CD1,7.8,11.3,61.3,20,0,0,0,6,1,1,0
CD1,11.1,9.8,57.0,21,0,0,0,6,1,1,0
CD1,7.1,13.0,50.9,22,0,0,0,6,1,1,0
CD1,6.8,11.4,40.2,23,0,0,0,6,1,1,0
CD1,6.2,7.3,33.9,0,1,0,0,0,2,0,0
CD1,9.0,9.9,21.7,1,1,0,0,0,2,0,0
CD1,8.2,6.4,19.5,2,1,0,0,0,2,0,0
CD1,7.0,9.1,18.8,3,1,0,0,0,2,0,0
CD1,6.7,8.6,19.7,4,1,0,0,0,2,0,0
CD1,7.4,13.3,27.7,5,1,0,0,0,2,0,0
CD1,4.9,13.5,33.4,6,1,0,0,0,2,0,0
CD1,6.0,15.1,54.5,7,1,0,0,0,2,0,1
CD1,8.7,17.0,55.0,8,1,0,0,0,2,0,1
CD1,14.9,20.8,63.1,9,1,0,0,0,2,0,1
CD1,14.2,19.3,68.6,10,1,0,0,0,2,0,1
CD1,8.9,26.1,67.7,11,1,0,0,0,2,0,1
CD1,12.1,31.0,75.9,12,1,0,0,0,2,0,1
CD1,17.2,30.7,84.5,13,1,0,0,0,2,0,1
CD1,14.2,26.9,92.3,14,1,0,0,0,2,0,1
CD1,13.2,22.2,100.4,15,1,0,0,0,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...
CD1,6.7,14.7,73.1,18,28,2,1,3,88,0,1
CD1,8.1,10.9,63.5,19,28,2,1,3,88,0,1
CD1,9.9,11.5,68.7,20,28,2,1,3,88,0,0
CD1,7.1,12.0,65.5,21,28,2,1,3,88,0,0
CD1,7.6,9.9,72.0,22,28,2,1,3,88,0,0
CD1,6.0,8.4,66.8,23,28,2,1,3,88,0,0
CD1,4.8,7.7,55.6,0,29,2,1,4,89,0,0
CD1,4.2,10.9,46.7,1,29,2,1,4,89,0,0
CD1,4.4,10.0,46.7,2,29,2,1,4,89,0,0
CD1,6.4,9.1,40.3,3,29,2,1,4,89,0,0
CD1,6.8,11.3,55.3,4,29,2,1,4,89,0,0
CD1,9.5,11.1,69.2,5,29,2,1,4,89,0,0
CD1,11.8,16.1,77.8,6,29,2,1,4,89,0,0
CD1,13.4,18.3,64.0,7,29,2,1,4,89,0,1
CD1,12.1,21.3,63.3,8,29,2,1,4,89,0,1
CD1,11.7,19.9,72.0,9,29,2,1,4,89,0,1
CD1,11.6,21.4,74.6,10,29,2,1,4,89,0,1
CD1,11.6,13.2,50.2,11,29,2,1,4,89,0,1
CD1,10.1,12.8,50.7,12,29,2,1,4,89,0,1
CD1,13.1,11.1,60.8,13,29,2,1,4,89,0,1
CD1,9.8,9.2,58.0,14,29,2,1,4,89,0,1
CD1,8.2,7.6,48.2,15,29,2,1,4,89,0,1
CD1,11.4,11.0,58.2,16,29,2,1,4,89,0,1
CD1,16.4,19.0,81.6,17,29,2,1,4,89,0,1
CD1,19.1,17.3,85.9,18,29,2,1,4,89,0,1
CD1,8.4,8.9,66.2,19,29,2,1,4,89,0,1
CD1,7.1,8.8,59.6,20,29,2,1,4,89,0,0
CD1,9.6,7.7,47.2,21,29,2,1,4,89,0,0
CD1,9.1,6.9,29.7,22,29,2,1,4,89,0,0
CD1,8.9,7.0,29.2,23,29,2,1,4,89,0,0