In [50]:
import pandas  as pd
import numpy as np 
import Dataloader.predict_DataLoader as predLoad
from importlib import reload

reload(predLoad)

In [67]:
raw = pd.read_csv("bj_meteorology_2018-04-19-0-2018-04-20-23.csv")

In [70]:
raw.station_id.unique()

array(['CD1', 'BL0', 'GR4', 'MY7', 'HV1', 'GN3', 'GR9', 'LW2', 'GN0',
       'KF1', 'CD9', 'CT3', 'CT2', 'BX9', 'BX1', 'TH4', 'ST5', 'RB7',
       'TD5'], dtype=object)

In [71]:
raw[raw['station_id']== 'BL0']

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
1,2965391,BL0,2018-04-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
20,2965447,BL0,2018-04-19 01:00:00,37.7,53.7,73.4,NaN,NaN,NaN
39,2965503,BL0,2018-04-19 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
58,2965559,BL0,2018-04-19 03:00:00,40.8,52.6,74.6,NaN,NaN,NaN
77,2965615,BL0,2018-04-19 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
96,2965671,BL0,2018-04-19 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
115,2965727,BL0,2018-04-19 07:00:00,NaN,76.4,98.7,NaN,NaN,NaN
134,2965783,BL0,2018-04-19 08:00:00,NaN,81.9,114.9,NaN,NaN,NaN
153,2965839,BL0,2018-04-19 09:00:00,NaN,61.5,NaN,NaN,NaN,NaN
172,2965895,BL0,2018-04-19 10:00:00,NaN,59.2,116.9,NaN,NaN,NaN
191,2965951,BL0,2018-04-19 11:00:00,16.8,35.2,67.3,NaN,NaN,NaN
210,2966007,BL0,2018-04-19 12:00:00,15.1,31.6,51.1,NaN,NaN,NaN
229,2966063,BL0,2018-04-19 13:00:00,NaN,18.9,22.8,NaN,NaN,NaN
248,2966119,BL0,2018-04-19 14:00:00,NaN,20.9,24.7,NaN,NaN,NaN
267,2966175,BL0,2018-04-19 15:00:00,NaN,19.0,18.9,NaN,NaN,NaN
286,2966195,BL0,2018-04-19 16:00:00,NaN,17.1,25.2,NaN,NaN,NaN
305,2966215,BL0,2018-04-19 17:00:00,13.9,28.8,79.9,NaN,NaN,NaN
324,2966271,BL0,2018-04-19 18:00:00,14.4,27.8,58.7,NaN,NaN,NaN
343,2966327,BL0,2018-04-19 19:00:00,16.2,29.3,43.6,NaN,NaN,NaN
362,2966383,BL0,2018-04-19 20:00:00,14.8,27.8,46.1,NaN,NaN,NaN
381,2966439,BL0,2018-04-19 21:00:00,13.3,22.2,53.9,NaN,NaN,NaN
400,2966495,BL0,2018-04-19 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
419,2966551,BL0,2018-04-19 23:00:00,17.7,23.7,47.8,NaN,NaN,NaN
438,2966607,BL0,2018-04-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
457,2966663,BL0,2018-04-20 01:00:00,15.1,25.2,58.7,NaN,NaN,NaN
476,2966719,BL0,2018-04-20 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
495,2966775,BL0,2018-04-20 03:00:00,11.7,20.5,37.5,NaN,NaN,NaN
514,2966831,BL0,2018-04-20 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
533,2966887,BL0,2018-04-20 05:00:00,18.7,22.5,53.2,NaN,NaN,NaN
552,2966943,BL0,2018-04-20 06:00:00,NaN,25.4,78.6,NaN,NaN,NaN
571,2966999,BL0,2018-04-20 07:00:00,21.2,35.3,70.0,NaN,NaN,NaN
590,2967055,BL0,2018-04-20 08:00:00,21.7,40.7,71.0,NaN,NaN,NaN
609,2967111,BL0,2018-04-20 09:00:00,24.4,45.1,73.8,NaN,NaN,NaN
628,2967167,BL0,2018-04-20 09:00:00,24.4,45.1,73.8,NaN,NaN,NaN
647,2967223,BL0,2018-04-20 09:00:00,24.4,45.1,73.8,NaN,NaN,NaN
666,2967279,BL0,2018-04-20 12:00:00,17.8,36.5,44.6,NaN,NaN,NaN
685,2967335,BL0,2018-04-20 13:00:00,NaN,30.0,40.9,NaN,NaN,NaN
704,2967391,BL0,2018-04-20 14:00:00,NaN,29.1,45.1,NaN,NaN,NaN
723,2967447,BL0,2018-04-20 15:00:00,NaN,21.5,45.7,NaN,NaN,NaN
742,2967467,BL0,2018-04-20 16:00:00,12.6,24.7,51.8,NaN,NaN,NaN
761,2967558,BL0,2018-04-20 17:00:00,11.8,23.4,45.3,NaN,NaN,NaN
780,2967614,BL0,2018-04-20 18:00:00,11.8,27.5,62.2,NaN,NaN,NaN
799,2967670,BL0,2018-04-20 19:00:00,12.0,26.0,62.0,NaN,NaN,NaN
818,2967726,BL0,2018-04-20 20:00:00,34.6,48.8,57.4,NaN,NaN,NaN
837,2967782,BL0,2018-04-20 21:00:00,39.8,58.5,61.4,NaN,NaN,NaN
856,2967802,BL0,2018-04-20 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
875,2967858,BL0,2018-04-20 23:00:00,23.2,33.5,49.5,NaN,NaN,NaN

In [51]:
data_transformer =predLoad.DataTransformer(path = "bj_meteorology_2018-04-19-0-2018-04-20-23.csv",
                                    use_cuda = True)

In [52]:
data_transformer.data

,id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration,hour,day,month,year,dayofweek,dayofyear,is_weekend,work_time
station_id,,,,,,,,,,,,,,,,
CD1,2965390,2018-04-19 00:00:00,38.2,50.8,49.1,0.0,0.0,0.0,0,0,0,0,0,109,0,0
BL0,2965391,2018-04-19 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
GR4,2965392,2018-04-19 00:00:00,35.8,51.2,65.9,0.0,0.0,0.0,0,0,0,0,0,109,0,0
MY7,2965393,2018-04-19 00:00:00,37.6,53.7,0.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
HV1,2965394,2018-04-19 00:00:00,39.0,46.1,38.2,0.0,0.0,0.0,0,0,0,0,0,109,0,0
GN3,2965395,2018-04-19 00:00:00,44.6,56.8,85.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
GR9,2965396,2018-04-19 00:00:00,38.7,52.4,82.5,0.0,0.0,0.0,0,0,0,0,0,109,0,0
LW2,2965397,2018-04-19 00:00:00,45.5,55.4,106.2,0.0,0.0,0.0,0,0,0,0,0,109,0,0
GN0,2965398,2018-04-19 00:00:00,43.6,44.1,78.9,0.0,0.0,0.0,0,0,0,0,0,109,0,0
KF1,2965399,2018-04-19 00:00:00,0.0,34.9,0.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
CD9,2965400,2018-04-19 00:00:00,0.0,59.8,103.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
CT3,2965401,2018-04-19 00:00:00,55.0,0.0,67.5,0.0,0.0,0.0,0,0,0,0,0,109,0,0
CT2,2965402,2018-04-19 00:00:00,39.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
BX9,2965403,2018-04-19 00:00:00,40.5,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
BX1,2965404,2018-04-19 00:00:00,0.0,0.0,69.9,0.0,0.0,0.0,0,0,0,0,0,109,0,0
TH4,2965405,2018-04-19 00:00:00,39.9,54.9,67.4,0.0,0.0,0.0,0,0,0,0,0,109,0,0
ST5,2965406,2018-04-19 00:00:00,30.0,0.0,47.8,0.0,0.0,0.0,0,0,0,0,0,109,0,0
RB7,2965407,2018-04-19 00:00:00,33.0,0.0,45.7,0.0,0.0,0.0,0,0,0,0,0,109,0,0
TD5,2965408,2018-04-19 00:00:00,29.8,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,109,0,0
CD1,2965446,2018-04-19 01:00:00,39.7,52.5,42.0,0.0,0.0,0.0,1,0,0,0,0,109,0,0
BL0,2965447,2018-04-19 01:00:00,37.7,53.7,73.4,0.0,0.0,0.0,1,0,0,0,0,109,0,0
GR4,2965448,2018-04-19 01:00:00,38.5,57.1,65.3,0.0,0.0,0.0,1,0,0,0,0,109,0,0
MY7,2965449,2018-04-19 01:00:00,37.2,52.4,0.0,0.0,0.0,0.0,1,0,0,0,0,109,0,0
HV1,2965450,2018-04-19 01:00:00,42.4,48.8,31.8,0.0,0.0,0.0,1,0,0,0,0,109,0,0
GN3,2965451,2018-04-19 01:00:00,42.4,54.7,70.6,0.0,0.0,0.0,1,0,0,0,0,109,0,0
GR9,2965452,2018-04-19 01:00:00,36.4,50.8,75.8,0.0,0.0,0.0,1,0,0,0,0,109,0,0
LW2,2965453,2018-04-19 01:00:00,44.1,55.7,90.6,0.0,0.0,0.0,1,0,0,0,0,109,0,0
GN0,2965454,2018-04-19 01:00:00,49.7,52.0,59.0,0.0,0.0,0.0,1,0,0,0,0,109,0,0
KF1,2965455,2018-04-19 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,109,0,0
CD9,2965456,2018-04-19 01:00:00,0.0,0.0,92.5,0.0,0.0,0.0,1,0,0,0,0,109,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GN0,2967809,2018-04-20 22:00:00,36.3,36.3,49.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
KF1,2967810,2018-04-20 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
CD9,2967811,2018-04-20 22:00:00,0.0,0.0,86.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
CT3,2967812,2018-04-20 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
CT2,2967813,2018-04-20 22:00:00,0.0,0.0,0.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
BX9,2967814,2018-04-20 22:00:00,38.6,0.0,0.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
BX1,2967815,2018-04-20 22:00:00,0.0,37.3,20.5,0.0,0.0,0.0,22,1,0,0,1,110,0,0
TH4,2967816,2018-04-20 22:00:00,32.0,42.4,31.3,0.0,0.0,0.0,22,1,0,0,1,110,0,0
ST5,2967817,2018-04-20 22:00:00,38.0,44.0,21.4,0.0,0.0,0.0,22,1,0,0,1,110,0,0
RB7,2967818,2018-04-20 22:00:00,23.0,27.6,19.9,0.0,0.0,0.0,22,1,0,0,1,110,0,0
TD5,2967819,2018-04-20 22:00:00,38.0,0.0,0.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
CD1,2967857,2018-04-20 23:00:00,27.6,36.3,32.5,0.0,0.0,0.0,23,1,0,0,1,110,0,0
BL0,2967858,2018-04-20 23:00:00,23.2,33.5,49.5,0.0,0.0,0.0,23,1,0,0,1,110,0,0
GR4,2967859,2018-04-20 23:00:00,40.2,53.7,22.4,0.0,0.0,0.0,23,1,0,0,1,110,0,0
MY7,2967860,2018-04-20 23:00:00,29.6,44.0,0.0,0.0,0.0,0.0,23,1,0,0,1,110,0,0
HV1,2967861,2018-04-20 23:00:00,25.7,35.6,19.5,0.0,0.0,0.0,23,1,0,0,1,110,0,0
GN3,2967862,2018-04-20 23:00:00,37.2,45.7,40.5,0.0,0.0,0.0,23,1,0,0,1,110,0,0
GR9,2967863,2018-04-20 23:00:00,40.2,51.5,45.9,0.0,0.0,0.0,23,1,0,0,1,110,0,0
LW2,2967864,2018-04-20 23:00:00,36.7,43.4,42.5,0.0,0.0,0.0,23,1,0,0,1,110,0,0
GN0,2967865,2018-04-20 23:00:00,39.9,37.9,50.6,0.0,0.0,0.0,23,1,0,0,1,110,0,0
KF1,2967866,2018-04-20 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,23,1,0,0,1,110,0,0
CD9,2967867,2018-04-20 23:00:00,0.0,0.0,86.1,0.0,0.0,0.0,23,1,0,0,1,110,0,0
CT3,2967868,2018-04-20 23:00:00,22.0,38.6,0.0,0.0,0.0,0.0,23,1,0,0,1,110,0,0
CT2,2967869,2018-04-20 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,23,1,0,0,1,110,0,0
BX9,2967870,2018-04-20 23:00:00,39.5,0.0,0.0,0.0,0.0,0.0,23,1,0,0,1,110,0,0
BX1,2967871,2018-04-20 23:00:00,0.0,32.0,24.9,0.0,0.0,0.0,23,1,0,0,1,110,0,0
TH4,2967872,2018-04-20 23:00:00,33.1,41.4,42.3,0.0,0.0,0.0,23,1,0,0,1,110,0,0
ST5,2967873,2018-04-20 23:00:00,38.0,47.0,20.8,0.0,0.0,0.0,23,1,0,0,1,110,0,0
RB7,2967874,2018-04-20 23:00:00,30.0,37.8,19.6,0.0,0.0,0.0,23,1,0,0,1,110,0,0
TD5,2967875,2018-04-20 23:00:00,32.6,0.0,0.0,0.0,0.0,0.0,23,1,0,0,1,110,0,0

In [61]:
data_transformer.data.loc['CD1',:]

,id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration,hour,day,month,year,dayofweek,dayofyear,is_weekend,work_time
station_id,,,,,,,,,,,,,,,,
CD1,2965390,2018-04-19 00:00:00,38.2,50.8,49.1,0.0,0.0,0.0,0,0,0,0,0,109,0,0
CD1,2965446,2018-04-19 01:00:00,39.7,52.5,42.0,0.0,0.0,0.0,1,0,0,0,0,109,0,0
CD1,2965502,2018-04-19 02:00:00,40.3,51.5,46.9,0.0,0.0,0.0,2,0,0,0,0,109,0,0
CD1,2965558,2018-04-19 03:00:00,39.7,51.2,47.6,0.0,0.0,0.0,3,0,0,0,0,109,0,0
CD1,2965614,2018-04-19 04:00:00,43.8,55.5,55.2,0.0,0.0,0.0,4,0,0,0,0,109,0,0
CD1,2965670,2018-04-19 04:00:00,43.8,55.5,55.2,0.0,0.0,0.0,4,0,0,0,0,109,0,0
CD1,2965726,2018-04-19 07:00:00,57.6,83.0,114.1,0.0,0.0,0.0,7,0,0,0,0,109,0,1
CD1,2965782,2018-04-19 07:00:00,57.6,83.0,114.1,0.0,0.0,0.0,7,0,0,0,0,109,0,1
CD1,2965838,2018-04-19 09:00:00,49.4,78.2,140.7,0.0,0.0,0.0,9,0,0,0,0,109,0,1
CD1,2965894,2018-04-19 10:00:00,38.5,64.6,132.5,0.0,0.0,0.0,10,0,0,0,0,109,0,1
CD1,2965950,2018-04-19 11:00:00,23.0,44.5,92.0,0.0,0.0,0.0,11,0,0,0,0,109,0,1
CD1,2966006,2018-04-19 12:00:00,16.5,23.7,78.8,0.0,0.0,0.0,12,0,0,0,0,109,0,1
CD1,2966062,2018-04-19 13:00:00,14.6,21.9,56.7,0.0,0.0,0.0,13,0,0,0,0,109,0,1
CD1,2966118,2018-04-19 14:00:00,12.0,18.9,82.9,0.0,0.0,0.0,14,0,0,0,0,109,0,1
CD1,2966174,2018-04-19 15:00:00,14.6,20.5,113.3,0.0,0.0,0.0,15,0,0,0,0,109,0,1
CD1,2966194,2018-04-19 16:00:00,16.3,27.8,77.1,0.0,0.0,0.0,16,0,0,0,0,109,0,1
CD1,2966214,2018-04-19 17:00:00,22.2,33.3,110.5,0.0,0.0,0.0,17,0,0,0,0,109,0,1
CD1,2966270,2018-04-19 18:00:00,23.1,40.9,88.9,0.0,0.0,0.0,18,0,0,0,0,109,0,1
CD1,2966326,2018-04-19 19:00:00,18.9,25.5,66.1,0.0,0.0,0.0,19,0,0,0,0,109,0,1
CD1,2966382,2018-04-19 20:00:00,20.0,31.3,74.1,0.0,0.0,0.0,20,0,0,0,0,109,0,0
CD1,2966438,2018-04-19 21:00:00,23.9,29.6,67.2,0.0,0.0,0.0,21,0,0,0,0,109,0,0
CD1,2966494,2018-04-19 22:00:00,20.5,28.6,47.2,0.0,0.0,0.0,22,0,0,0,0,109,0,0
CD1,2966550,2018-04-19 23:00:00,19.6,24.9,39.1,0.0,0.0,0.0,23,0,0,0,0,109,0,0
CD1,2966606,2018-04-20 00:00:00,21.4,28.5,52.3,0.0,0.0,0.0,0,1,0,0,1,110,0,0
CD1,2966662,2018-04-20 01:00:00,23.3,30.4,48.9,0.0,0.0,0.0,1,1,0,0,1,110,0,0
CD1,2966718,2018-04-20 02:00:00,23.2,28.3,42.4,0.0,0.0,0.0,2,1,0,0,1,110,0,0
CD1,2966774,2018-04-20 03:00:00,21.4,25.2,42.7,0.0,0.0,0.0,3,1,0,0,1,110,0,0
CD1,2966830,2018-04-20 04:00:00,22.4,25.3,51.8,0.0,0.0,0.0,4,1,0,0,1,110,0,0
CD1,2966886,2018-04-20 05:00:00,19.8,24.7,43.5,0.0,0.0,0.0,5,1,0,0,1,110,0,0
CD1,2966942,2018-04-20 06:00:00,22.6,32.6,51.5,0.0,0.0,0.0,6,1,0,0,1,110,0,0
CD1,2966998,2018-04-20 07:00:00,24.6,42.8,67.7,0.0,0.0,0.0,7,1,0,0,1,110,0,1
CD1,2967054,2018-04-20 08:00:00,31.0,49.8,60.2,0.0,0.0,0.0,8,1,0,0,1,110,0,1
CD1,2967110,2018-04-20 09:00:00,31.4,50.8,57.1,0.0,0.0,0.0,9,1,0,0,1,110,0,1
CD1,2967166,2018-04-20 09:00:00,31.4,50.8,57.1,0.0,0.0,0.0,9,1,0,0,1,110,0,1
CD1,2967222,2018-04-20 09:00:00,31.4,50.8,57.1,0.0,0.0,0.0,9,1,0,0,1,110,0,1
CD1,2967278,2018-04-20 12:00:00,22.8,32.7,43.2,0.0,0.0,0.0,12,1,0,0,1,110,0,1
CD1,2967334,2018-04-20 13:00:00,16.9,26.8,45.2,0.0,0.0,0.0,13,1,0,0,1,110,0,1
CD1,2967390,2018-04-20 14:00:00,18.3,29.8,59.7,0.0,0.0,0.0,14,1,0,0,1,110,0,1
CD1,2967446,2018-04-20 15:00:00,15.2,24.7,67.0,0.0,0.0,0.0,15,1,0,0,1,110,0,1
CD1,2967466,2018-04-20 16:00:00,15.2,24.8,70.8,0.0,0.0,0.0,16,1,0,0,1,110,0,1
CD1,2967557,2018-04-20 17:00:00,18.1,30.2,81.5,0.0,0.0,0.0,17,1,0,0,1,110,0,1
CD1,2967613,2018-04-20 18:00:00,20.3,30.1,86.5,0.0,0.0,0.0,18,1,0,0,1,110,0,1
CD1,2967669,2018-04-20 19:00:00,18.8,29.5,71.7,0.0,0.0,0.0,19,1,0,0,1,110,0,1
CD1,2967725,2018-04-20 20:00:00,27.3,35.4,51.3,0.0,0.0,0.0,20,1,0,0,1,110,0,0
CD1,2967781,2018-04-20 21:00:00,53.3,66.2,49.8,0.0,0.0,0.0,21,1,0,0,1,110,0,0
CD1,2967801,2018-04-20 22:00:00,32.4,41.9,32.0,0.0,0.0,0.0,22,1,0,0,1,110,0,0
CD1,2967857,2018-04-20 23:00:00,27.6,36.3,32.5,0.0,0.0,0.0,23,1,0,0,1,110,0,0

In [54]:
current  = pd.read_csv("bj_meteorology_2018-04-19-0-2018-04-20-23.csv")

In [55]:
current.sort_values(['station_id','time'])

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
1,2965391,BL0,2018-04-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
20,2965447,BL0,2018-04-19 01:00:00,37.7,53.7,73.4,NaN,NaN,NaN
39,2965503,BL0,2018-04-19 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
58,2965559,BL0,2018-04-19 03:00:00,40.8,52.6,74.6,NaN,NaN,NaN
77,2965615,BL0,2018-04-19 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
96,2965671,BL0,2018-04-19 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
115,2965727,BL0,2018-04-19 07:00:00,NaN,76.4,98.7,NaN,NaN,NaN
134,2965783,BL0,2018-04-19 08:00:00,NaN,81.9,114.9,NaN,NaN,NaN
153,2965839,BL0,2018-04-19 09:00:00,NaN,61.5,NaN,NaN,NaN,NaN
172,2965895,BL0,2018-04-19 10:00:00,NaN,59.2,116.9,NaN,NaN,NaN
191,2965951,BL0,2018-04-19 11:00:00,16.8,35.2,67.3,NaN,NaN,NaN
210,2966007,BL0,2018-04-19 12:00:00,15.1,31.6,51.1,NaN,NaN,NaN
229,2966063,BL0,2018-04-19 13:00:00,NaN,18.9,22.8,NaN,NaN,NaN
248,2966119,BL0,2018-04-19 14:00:00,NaN,20.9,24.7,NaN,NaN,NaN
267,2966175,BL0,2018-04-19 15:00:00,NaN,19.0,18.9,NaN,NaN,NaN
286,2966195,BL0,2018-04-19 16:00:00,NaN,17.1,25.2,NaN,NaN,NaN
305,2966215,BL0,2018-04-19 17:00:00,13.9,28.8,79.9,NaN,NaN,NaN
324,2966271,BL0,2018-04-19 18:00:00,14.4,27.8,58.7,NaN,NaN,NaN
343,2966327,BL0,2018-04-19 19:00:00,16.2,29.3,43.6,NaN,NaN,NaN
362,2966383,BL0,2018-04-19 20:00:00,14.8,27.8,46.1,NaN,NaN,NaN
381,2966439,BL0,2018-04-19 21:00:00,13.3,22.2,53.9,NaN,NaN,NaN
400,2966495,BL0,2018-04-19 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
419,2966551,BL0,2018-04-19 23:00:00,17.7,23.7,47.8,NaN,NaN,NaN
438,2966607,BL0,2018-04-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
457,2966663,BL0,2018-04-20 01:00:00,15.1,25.2,58.7,NaN,NaN,NaN
476,2966719,BL0,2018-04-20 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
495,2966775,BL0,2018-04-20 03:00:00,11.7,20.5,37.5,NaN,NaN,NaN
514,2966831,BL0,2018-04-20 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
533,2966887,BL0,2018-04-20 05:00:00,18.7,22.5,53.2,NaN,NaN,NaN
552,2966943,BL0,2018-04-20 06:00:00,NaN,25.4,78.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
338,2966285,TH4,2018-04-19 18:00:00,23.9,34.7,77.0,NaN,NaN,NaN
357,2966341,TH4,2018-04-19 19:00:00,16.9,34.7,87.6,NaN,NaN,NaN
376,2966397,TH4,2018-04-19 20:00:00,22.7,41.7,104.9,NaN,NaN,NaN
395,2966453,TH4,2018-04-19 21:00:00,21.6,44.9,94.7,NaN,NaN,NaN
414,2966509,TH4,2018-04-19 22:00:00,19.8,52.6,75.2,NaN,NaN,NaN
433,2966565,TH4,2018-04-19 23:00:00,20.0,33.8,68.7,NaN,NaN,NaN
452,2966621,TH4,2018-04-20 00:00:00,20.6,35.2,61.8,NaN,NaN,NaN
471,2966677,TH4,2018-04-20 01:00:00,22.2,33.8,58.0,NaN,NaN,NaN
490,2966733,TH4,2018-04-20 02:00:00,19.9,31.7,43.7,NaN,NaN,NaN
509,2966789,TH4,2018-04-20 03:00:00,15.7,32.2,53.2,NaN,NaN,NaN
528,2966845,TH4,2018-04-20 04:00:00,19.2,33.1,72.9,NaN,NaN,NaN
547,2966901,TH4,2018-04-20 05:00:00,22.8,39.9,82.7,NaN,NaN,NaN
566,2966957,TH4,2018-04-20 06:00:00,30.0,55.1,107.9,NaN,NaN,NaN
585,2967013,TH4,2018-04-20 07:00:00,29.3,55.8,96.7,NaN,NaN,NaN
604,2967069,TH4,2018-04-20 08:00:00,30.5,60.2,81.0,NaN,NaN,NaN
623,2967125,TH4,2018-04-20 09:00:00,33.6,57.7,82.2,NaN,NaN,NaN
642,2967181,TH4,2018-04-20 09:00:00,33.6,57.7,82.2,NaN,NaN,NaN
661,2967237,TH4,2018-04-20 09:00:00,33.6,57.7,82.2,NaN,NaN,NaN
680,2967293,TH4,2018-04-20 12:00:00,21.5,48.8,79.1,NaN,NaN,NaN
699,2967349,TH4,2018-04-20 13:00:00,34.3,122.3,104.4,NaN,NaN,NaN
718,2967405,TH4,2018-04-20 14:00:00,24.4,56.0,96.2,NaN,NaN,NaN
737,2967461,TH4,2018-04-20 15:00:00,20.6,35.8,108.8,NaN,NaN,NaN
756,2967481,TH4,2018-04-20 16:00:00,17.6,36.0,82.0,NaN,NaN,NaN
775,2967572,TH4,2018-04-20 17:00:00,15.8,32.3,72.5,NaN,NaN,NaN
794,2967628,TH4,2018-04-20 18:00:00,25.4,67.6,54.8,NaN,NaN,NaN
813,2967684,TH4,2018-04-20 19:00:00,29.3,47.0,51.0,NaN,NaN,NaN
832,2967740,TH4,2018-04-20 20:00:00,48.2,67.5,53.1,NaN,NaN,NaN
851,2967796,TH4,2018-04-20 21:00:00,45.3,69.4,41.4,NaN,NaN,NaN
870,2967816,TH4,2018-04-20 22:00:00,32.0,42.4,31.3,NaN,NaN,NaN
889,2967872,TH4,2018-04-20 23:00:00,33.1,41.4,42.3,NaN,NaN,NaN

In [56]:
current.set_index(['station_id'], inplace=True)

In [57]:
current.loc['CD1',:]

,id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
station_id,,,,,,,,
CD1,2965390,2018-04-19 00:00:00,38.2,50.8,49.1,NaN,NaN,NaN
CD1,2965446,2018-04-19 01:00:00,39.7,52.5,42.0,NaN,NaN,NaN
CD1,2965502,2018-04-19 02:00:00,40.3,51.5,46.9,NaN,NaN,NaN
CD1,2965558,2018-04-19 03:00:00,39.7,51.2,47.6,NaN,NaN,NaN
CD1,2965614,2018-04-19 04:00:00,43.8,55.5,55.2,NaN,NaN,NaN
CD1,2965670,2018-04-19 04:00:00,43.8,55.5,55.2,NaN,NaN,NaN
CD1,2965726,2018-04-19 07:00:00,57.6,83.0,114.1,NaN,NaN,NaN
CD1,2965782,2018-04-19 07:00:00,57.6,83.0,114.1,NaN,NaN,NaN
CD1,2965838,2018-04-19 09:00:00,49.4,78.2,140.7,NaN,NaN,NaN
CD1,2965894,2018-04-19 10:00:00,38.5,64.6,132.5,NaN,NaN,NaN
CD1,2965950,2018-04-19 11:00:00,23.0,44.5,92.0,NaN,NaN,NaN
CD1,2966006,2018-04-19 12:00:00,16.5,23.7,78.8,NaN,NaN,NaN
CD1,2966062,2018-04-19 13:00:00,14.6,21.9,56.7,NaN,NaN,NaN
CD1,2966118,2018-04-19 14:00:00,12.0,18.9,82.9,NaN,NaN,NaN
CD1,2966174,2018-04-19 15:00:00,14.6,20.5,113.3,NaN,NaN,NaN
CD1,2966194,2018-04-19 16:00:00,16.3,27.8,77.1,NaN,NaN,NaN
CD1,2966214,2018-04-19 17:00:00,22.2,33.3,110.5,NaN,NaN,NaN
CD1,2966270,2018-04-19 18:00:00,23.1,40.9,88.9,NaN,NaN,NaN
CD1,2966326,2018-04-19 19:00:00,18.9,25.5,66.1,NaN,NaN,NaN
CD1,2966382,2018-04-19 20:00:00,20.0,31.3,74.1,NaN,NaN,NaN
CD1,2966438,2018-04-19 21:00:00,23.9,29.6,67.2,NaN,NaN,NaN
CD1,2966494,2018-04-19 22:00:00,20.5,28.6,47.2,NaN,NaN,NaN
CD1,2966550,2018-04-19 23:00:00,19.6,24.9,39.1,NaN,NaN,NaN
CD1,2966606,2018-04-20 00:00:00,21.4,28.5,52.3,NaN,NaN,NaN
CD1,2966662,2018-04-20 01:00:00,23.3,30.4,48.9,NaN,NaN,NaN
CD1,2966718,2018-04-20 02:00:00,23.2,28.3,42.4,NaN,NaN,NaN
CD1,2966774,2018-04-20 03:00:00,21.4,25.2,42.7,NaN,NaN,NaN
CD1,2966830,2018-04-20 04:00:00,22.4,25.3,51.8,NaN,NaN,NaN
CD1,2966886,2018-04-20 05:00:00,19.8,24.7,43.5,NaN,NaN,NaN
CD1,2966942,2018-04-20 06:00:00,22.6,32.6,51.5,NaN,NaN,NaN
CD1,2966998,2018-04-20 07:00:00,24.6,42.8,67.7,NaN,NaN,NaN
CD1,2967054,2018-04-20 08:00:00,31.0,49.8,60.2,NaN,NaN,NaN
CD1,2967110,2018-04-20 09:00:00,31.4,50.8,57.1,NaN,NaN,NaN
CD1,2967166,2018-04-20 09:00:00,31.4,50.8,57.1,NaN,NaN,NaN
CD1,2967222,2018-04-20 09:00:00,31.4,50.8,57.1,NaN,NaN,NaN
CD1,2967278,2018-04-20 12:00:00,22.8,32.7,43.2,NaN,NaN,NaN
CD1,2967334,2018-04-20 13:00:00,16.9,26.8,45.2,NaN,NaN,NaN
CD1,2967390,2018-04-20 14:00:00,18.3,29.8,59.7,NaN,NaN,NaN
CD1,2967446,2018-04-20 15:00:00,15.2,24.7,67.0,NaN,NaN,NaN
CD1,2967466,2018-04-20 16:00:00,15.2,24.8,70.8,NaN,NaN,NaN
CD1,2967557,2018-04-20 17:00:00,18.1,30.2,81.5,NaN,NaN,NaN
CD1,2967613,2018-04-20 18:00:00,20.3,30.1,86.5,NaN,NaN,NaN
CD1,2967669,2018-04-20 19:00:00,18.8,29.5,71.7,NaN,NaN,NaN
CD1,2967725,2018-04-20 20:00:00,27.3,35.4,51.3,NaN,NaN,NaN
CD1,2967781,2018-04-20 21:00:00,53.3,66.2,49.8,NaN,NaN,NaN
CD1,2967801,2018-04-20 22:00:00,32.4,41.9,32.0,NaN,NaN,NaN
CD1,2967857,2018-04-20 23:00:00,27.6,36.3,32.5,NaN,NaN,NaN