In [1]:
import numpy as np
import pandas as pd
import datetime

## beijing_17_18_aq.csv

In [2]:
bj_aq_dataset_1 = pd.read_csv("Data/beijing_17_18_aq.csv")
bj_aq_dataset_1['utc_time'] = pd.to_datetime(bj_aq_dataset_1['utc_time'])

bj_aq_dataset_1.shape

(311010, 8)

In [3]:
bj_aq_dataset_1.head()

         stationId            utc_time  PM2.5   PM10    NO2   CO   O3  SO2
0  aotizhongxin_aq 2017-01-01 14:00:00  453.0  467.0  156.0  7.2  3.0  9.0
1  aotizhongxin_aq 2017-01-01 15:00:00  417.0  443.0  143.0  6.8  2.0  8.0
2  aotizhongxin_aq 2017-01-01 16:00:00  395.0  467.0  141.0  6.9  3.0  8.0
3  aotizhongxin_aq 2017-01-01 17:00:00  420.0  484.0  139.0  7.4  3.0  9.0
4  aotizhongxin_aq 2017-01-01 18:00:00  453.0  520.0  157.0  7.6  4.0  9.0

In [28]:
bj_aq_dataset_1.tail()

           stationId            utc_time  PM2.5  PM10  NO2  CO  O3  SO2
311005  zhiwuyuan_aq 2018-01-31 11:00:00    NaN   NaN  NaN NaN NaN  NaN
311006  zhiwuyuan_aq 2018-01-31 12:00:00    NaN   NaN  NaN NaN NaN  NaN
311007  zhiwuyuan_aq 2018-01-31 13:00:00    NaN   NaN  NaN NaN NaN  NaN
311008  zhiwuyuan_aq 2018-01-31 14:00:00    NaN   NaN  NaN NaN NaN  NaN
311009  zhiwuyuan_aq 2018-01-31 15:00:00    NaN   NaN  NaN NaN NaN  NaN

In [46]:
bj_aq_dataset_1.corr()

          PM2.5      PM10       NO2        CO        O3       SO2
PM2.5  1.000000  0.850027  0.558195  0.753246 -0.142547  0.515851
PM10   0.850027  1.000000  0.399688  0.618041 -0.022765  0.379113
NO2    0.558195  0.399688  1.000000  0.595542 -0.497505  0.434892
CO     0.753246  0.618041  0.595542  1.000000 -0.267064  0.448478
O3    -0.142547 -0.022765 -0.497505 -0.267064  1.000000 -0.147803
SO2    0.515851  0.379113  0.434892  0.448478 -0.147803  1.000000

In [4]:
print(bj_aq_dataset_1.stationId.unique())
print(" %d unique stations" %(len(bj_aq_dataset_1.stationId.unique())))

['aotizhongxin_aq' 'badaling_aq' 'beibuxinqu_aq' 'daxing_aq' 'dingling_aq'
 'donggaocun_aq' 'dongsi_aq' 'dongsihuan_aq' 'fangshan_aq'
 'fengtaihuayuan_aq' 'guanyuan_aq' 'gucheng_aq' 'huairou_aq' 'liulihe_aq'
 'mentougou_aq' 'miyun_aq' 'miyunshuiku_aq' 'nansanhuan_aq'
 'nongzhanguan_aq' 'pingchang_aq' 'pinggu_aq' 'qianmen_aq' 'shunyi_aq'
 'tiantan_aq' 'tongzhou_aq' 'wanliu_aq' 'wanshouxigong_aq'
 'xizhimenbei_aq' 'yanqin_aq' 'yizhuang_aq' 'yongdingmennei_aq'
 'yongledian_aq' 'yufa_aq' 'yungang_aq' 'zhiwuyuan_aq']
 35 unique stations

## Beijing_historical_meo_grid.csv

In [5]:
bj_aq_dataset_2 = pd.read_csv("Data/Beijing_historical_meo_grid.csv")
bj_aq_dataset_2['utc_time'] = pd.to_datetime(bj_aq_dataset_2['utc_time'])

In [6]:
bj_aq_dataset_2.shape

(7034706, 9)

In [7]:
bj_aq_dataset_2.head()

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph
0,beijing_grid_000,115.0,39.0,2017-01-01,-5.47,984.73,76.60,53.71,3.53
1,beijing_grid_001,115.0,39.1,2017-01-01,-5.53,979.33,75.40,43.59,3.11
2,beijing_grid_002,115.0,39.2,2017-01-01,-5.70,963.14,71.80,0.97,2.75
3,beijing_grid_003,115.0,39.3,2017-01-01,-5.88,946.94,68.20,327.65,3.84
4,beijing_grid_004,115.0,39.4,2017-01-01,-5.34,928.80,58.81,317.85,6.14

In [8]:
bj_aq_dataset_2.tail()

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph
7034701,beijing_grid_646,118.0,40.6,2018-03-27 05:00:00,21.64,943.63,27.87,196.62,14.79
7034702,beijing_grid_647,118.0,40.7,2018-03-27 05:00:00,22.58,948.03,24.92,197.92,15.80
7034703,beijing_grid_648,118.0,40.8,2018-03-27 05:00:00,22.64,945.85,23.57,206.12,16.94
7034704,beijing_grid_649,118.0,40.9,2018-03-27 05:00:00,22.71,943.67,22.23,213.17,18.38
7034705,beijing_grid_650,118.0,41.0,2018-03-27 05:00:00,22.73,942.95,21.78,215.27,18.91

In [45]:
bj_aq_dataset_2.corr()

,longitude,latitude,temperature,pressure,humidity,wind_direction,wind_speed/kph
longitude,1.000000e+00,5.038237e-18,0.089374,0.524847,0.001065,-0.059296,0.068881
latitude,5.038237e-18,1.000000e+00,-0.177230,-0.678949,0.072208,0.174436,-0.038316
temperature,8.937398e-02,-1.772305e-01,1.000000,0.085410,0.154080,-0.220535,0.034962
pressure,5.248468e-01,-6.789494e-01,0.085410,1.000000,-0.149365,-0.198801,-0.009759
humidity,1.064501e-03,7.220752e-02,0.154080,-0.149365,1.000000,-0.210406,-0.307891
wind_direction,-5.929571e-02,1.744364e-01,-0.220535,-0.198801,-0.210406,1.000000,0.205548
wind_speed/kph,6.888058e-02,-3.831641e-02,0.034962,-0.009759,-0.307891,0.205548,1.000000

In [15]:
# print(bj_aq_dataset_2.stationName.unique())
print(" %d unique stations" %(len(bj_aq_dataset_2.stationName.unique())))

 651 unique stations

## beijing_17_18_meo.csv

In [10]:
weather = pd.read_csv('Data/beijing_17_18_meo.csv')
weather.shape

(158047, 10)

In [11]:
weather.head()

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
0,shunyi_meo,116.615278,40.126667,2017-01-30 16:00:00,-1.7,1028.7,15,215.0,1.6,Sunny/clear
1,shunyi_meo,116.615278,40.126667,2017-01-30 17:00:00,-3.5,1028.4,24,16.0,1.0,Haze
2,shunyi_meo,116.615278,40.126667,2017-01-30 18:00:00,-3.7,1028.1,27,32.0,1.1,Haze
3,shunyi_meo,116.615278,40.126667,2017-01-30 19:00:00,-3.9,1027.6,27,21.0,0.9,Haze
4,shunyi_meo,116.615278,40.126667,2017-01-30 20:00:00,-4.1,1026.7,26,17.0,1.1,Haze

In [29]:
weather.tail()

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
158042,xiayunling_meo,115.740556,39.728611,2018-01-31 11:00:00,-5.0,977.2,32,210.0,0.8,Sunny/clear
158043,xiayunling_meo,115.740556,39.728611,2018-01-31 12:00:00,-6.4,977.5,36,999017.0,0.0,Sunny/clear
158044,xiayunling_meo,115.740556,39.728611,2018-01-31 13:00:00,-6.8,977.8,39,182.0,1.3,Sunny/clear
158045,xiayunling_meo,115.740556,39.728611,2018-01-31 14:00:00,-7.1,977.7,39,170.0,1.5,Sunny/clear
158046,xiayunling_meo,115.740556,39.728611,2018-01-31 15:00:00,-7.4,977.4,39,137.0,1.0,Sunny/clear

In [12]:
print(weather.station_id.unique())
print(" %d unique stations" %(len(weather.station_id.unique())))

['shunyi_meo' 'hadian_meo' 'yanqing_meo' 'miyun_meo' 'huairou_meo'
 'shangdianzi_meo' 'pinggu_meo' 'tongzhou_meo' 'chaoyang_meo'
 'pingchang_meo' 'zhaitang_meo' 'mentougou_meo' 'beijing_meo'
 'shijingshan_meo' 'fengtai_meo' 'daxing_meo' 'fangshan_meo'
 'xiayunling_meo']
 18 unique stations

In [98]:
weather.loc[weather['station_id'] == 'xiayunling_meo']

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
149267,xiayunling_meo,115.740556,39.728611,2017-01-30 16:00:00,-3.9,980.3,14,208.0,1.7,Sunny/clear
149268,xiayunling_meo,115.740556,39.728611,2017-01-30 17:00:00,-4.5,980.1,16,152.0,1.3,Sunny/clear
149269,xiayunling_meo,115.740556,39.728611,2017-01-30 18:00:00,-4.8,979.7,18,164.0,0.9,Sunny/clear
149270,xiayunling_meo,115.740556,39.728611,2017-01-30 19:00:00,-5.3,979.1,22,999017.0,0.2,Sunny/clear
149271,xiayunling_meo,115.740556,39.728611,2017-01-30 20:00:00,-5.6,978.4,23,219.0,0.6,Sunny/clear
149272,xiayunling_meo,115.740556,39.728611,2017-01-30 21:00:00,-5.6,977.9,23,26.0,0.5,Sunny/clear
149273,xiayunling_meo,115.740556,39.728611,2017-01-30 22:00:00,-5.6,977.4,26,166.0,0.9,Sunny/clear
149274,xiayunling_meo,115.740556,39.728611,2017-01-30 23:00:00,-5.4,977.5,25,186.0,0.7,Sunny/clear
149275,xiayunling_meo,115.740556,39.728611,2017-01-31 00:00:00,-6.6,977.9,28,180.0,0.6,Sunny/clear
149276,xiayunling_meo,115.740556,39.728611,2017-01-31 01:00:00,-7.0,978.1,30,176.0,0.8,Sunny/clear
149277,xiayunling_meo,115.740556,39.728611,2017-01-31 02:00:00,-2.7,977.6,20,170.0,0.9,Sunny/clear
149278,xiayunling_meo,115.740556,39.728611,2017-01-31 03:00:00,0.9,977.5,12,105.0,1.0,Sunny/clear
149279,xiayunling_meo,115.740556,39.728611,2017-01-31 04:00:00,2.5,976.3,10,103.0,1.1,Sunny/clear
149280,xiayunling_meo,115.740556,39.728611,2017-01-31 05:00:00,4.4,975.3,10,179.0,1.4,Sunny/clear
149281,xiayunling_meo,115.740556,39.728611,2017-01-31 06:00:00,4.5,974.7,11,191.0,1.9,Sunny/clear
149282,xiayunling_meo,115.740556,39.728611,2017-01-31 07:00:00,4.6,974.5,11,259.0,1.1,Sunny/clear
149283,xiayunling_meo,115.740556,39.728611,2017-01-31 08:00:00,3.1,975.5,12,359.0,0.7,Sunny/clear
149284,xiayunling_meo,115.740556,39.728611,2017-01-31 09:00:00,1.2,976.2,14,187.0,1.8,Sunny/clear
149285,xiayunling_meo,115.740556,39.728611,2017-01-31 10:00:00,-1.4,977.1,20,183.0,1.1,Sunny/clear
149286,xiayunling_meo,115.740556,39.728611,2017-01-31 11:00:00,-3.2,978.0,24,191.0,1.4,Sunny/clear
149287,xiayunling_meo,115.740556,39.728611,2017-01-31 12:00:00,-4.7,979.0,27,190.0,0.9,Sunny/clear
149288,xiayunling_meo,115.740556,39.728611,2017-01-31 13:00:00,-6.0,979.9,31,159.0,0.9,Sunny/clear
149289,xiayunling_meo,115.740556,39.728611,2017-01-31 14:00:00,-5.8,980.4,31,165.0,1.3,Sunny/clear
149290,xiayunling_meo,115.740556,39.728611,2017-01-31 15:00:00,-7.1,981.5,36,177.0,1.2,Sunny/clear
149291,xiayunling_meo,115.740556,39.728611,2017-01-31 16:00:00,-7.0,982.0,36,186.0,1.5,Sunny/clear
149292,xiayunling_meo,115.740556,39.728611,2017-01-31 17:00:00,-8.1,982.7,39,171.0,1.3,Sunny/clear
149293,xiayunling_meo,115.740556,39.728611,2017-01-31 18:00:00,-8.4,983.2,39,226.0,1.2,Sunny/clear
149294,xiayunling_meo,115.740556,39.728611,2017-01-31 19:00:00,-8.7,983.8,39,176.0,1.3,Sunny/clear
149295,xiayunling_meo,115.740556,39.728611,2017-01-31 20:00:00,-9.4,984.4,42,162.0,0.8,Sunny/clear
149296,xiayunling_meo,115.740556,39.728611,2017-01-31 21:00:00,-9.6,985.1,40,136.0,0.9,Sunny/clear
...,...,...,...,...,...,...,...,...,...,...
158017,xiayunling_meo,115.740556,39.728611,2018-01-30 10:00:00,-2.4,975.0,22,36.0,1.1,Sunny/clear
158018,xiayunling_meo,115.740556,39.728611,2018-01-30 11:00:00,-3.2,975.5,24,252.0,1.5,Sunny/clear
158019,xiayunling_meo,115.740556,39.728611,2018-01-30 12:00:00,-4.8,976.7,30,204.0,1.8,Sunny/clear
158020,xiayunling_meo,115.740556,39.728611,2018-01-30 13:00:00,-6.0,977.5,33,141.0,1.0,Sunny/clear
158021,xiayunling_meo,115.740556,39.728611,2018-01-30 14:00:00,-7.3,978.3,37,214.0,0.9,Sunny/clear
158022,xiayunling_meo,115.740556,39.728611,2018-01-30 15:00:00,-7.9,978.7,41,134.0,0.8,Sunny/clear
158023,xiayunling_meo,115.740556,39.728611,2018-01-30 16:00:00,-8.3,979.2,40,300.0,0.9,Sunny/clear
158024,xiayunling_meo,115.740556,39.728611,2018-01-30 17:00:00,-7.7,979.7,37,63.0,0.7,Sunny/clear
158025,xiayunling_meo,115.740556,39.728611,2018-01-30 18:00:00,-7.9,979.9,38,204.0,1.2,Sunny/clear
158026,xiayunling_meo,115.740556,39.728611,2018-01-30 19:00:00,-8.1,979.4,39,195.0,1.2,Sunny/clear
158027,xiayunling_meo,115.740556,39.728611,2018-01-30 20:00:00,-8.8,979.1,41,165.0,1.0,Sunny/clear
158028,xiayunling_meo,115.740556,39.728611,2018-01-30 21:00:00,-10.2,979.4,45,999017.0,0.0,Sunny/clear
158029,xiayunling_meo,115.740556,39.728611,2018-01-30 22:00:00,-10.4,979.7,47,178.0,1.0,Sunny/clear
158030,xiayunling_meo,115.740556,39.728611,2018-01-30 23:00:00,-9.9,979.8,45,197.0,1.6,Sunny/clear
158031,xiayunling_meo,115.740556,39.728611,2018-01-31 00:00:00,-10.9,979.7,49,310.0,0.8,Sunny/clear
158032,xiayunling_meo,115.740556,39.728611,2018-01-31 01:00:00,-9.7,979.7,45,191.0,1.2,Sunny/clear
158033,xiayunling_meo,115.740556,39.728611,2018-01-31 02:00:00,-5.1,979.4,34,999017.0,0.0,Sunny/clear
158034,xiayunling_meo,115.740556,39.728611,2018-01-31 03:00:00,-0.1,978.8,20,140.0,1.2,Sunny/clear
158035,xiayunling_meo,115.740556,39.728611,2018-01-31 04:00:00,1.3,977.9,16,213.0,2.9,Sunny/clear
158036,xiayunling_meo,115.740556,39.728611,2018-01-31 05:00:00,1.5,977.1,16,194.0,3.4,Sunny/clear
158037,xiayunling_meo,115.740556,39.728611,2018-01-31 06:00:00,1.7,976.1,15,176.0,3.0,Sunny/clear
158038,xiayunling_meo,115.740556,39.728611,2018-01-31 07:00:00,2.4,975.5,15,172.0,2.2,Sunny/clear
158039,xiayunling_meo,115.740556,39.728611,2018-01-31 08:00:00,1.3,975.4,16,230.0,1.6,Sunny/clear
158040,xiayunling_meo,115.740556,39.728611,2018-01-31 09:00:00,-0.5,975.9,20,220.0,1.7,Sunny/clear
158041,xiayunling_meo,115.740556,39.728611,2018-01-31 10:00:00,-3.4,976.5,27,175.0,1.6,Sunny/clear
158042,xiayunling_meo,115.740556,39.728611,2018-01-31 11:00:00,-5.0,977.2,32,210.0,0.8,Sunny/clear
158043,xiayunling_meo,115.740556,39.728611,2018-01-31 12:00:00,-6.4,977.5,36,999017.0,0.0,Sunny/clear
158044,xiayunling_meo,115.740556,39.728611,2018-01-31 13:00:00,-6.8,977.8,39,182.0,1.3,Sunny/clear
158045,xiayunling_meo,115.740556,39.728611,2018-01-31 14:00:00,-7.1,977.7,39,170.0,1.5,Sunny/clear
158046,xiayunling_meo,115.740556,39.728611,2018-01-31 15:00:00,-7.4,977.4,39,137.0,1.0,Sunny/clear

In [13]:
weather['utc_time'] = pd.to_datetime(weather['utc_time'])

In [44]:
weather.corr()

,longitude,latitude,temperature,pressure,humidity,wind_direction,wind_speed
longitude,1.000000,0.470579,0.000148,0.001936,-0.009591,-0.001336,-0.011673
latitude,0.470579,1.000000,-0.002720,-0.003611,-0.010350,-0.032187,-0.003291
temperature,0.000148,-0.002720,1.000000,0.999986,0.288608,0.026185,0.516361
pressure,0.001936,-0.003611,0.999986,1.000000,0.288664,0.026435,0.516334
humidity,-0.009591,-0.010350,0.288608,0.288664,1.000000,0.004809,0.148954
wind_direction,-0.001336,-0.032187,0.026185,0.026435,0.004809,1.000000,0.050947
wind_speed,-0.011673,-0.003291,0.516361,0.516334,0.148954,0.050947,1.000000

In [14]:
# weather['datetime'] = pd.to_datetime(weather['utc_time'])
# weather = weather.rename(columns={'station_id': 'station'}).drop('utc_time', axis=1)
# weather['station_type'] = weather['station'].apply(lambda s: s[s.find('_')+1:])
# weather['station'] = weather['station'].apply(lambda s: s[:s.find('_')])
# weather.set_index(['station', 'datetime'], inplace=True)
# weather.sample(3)

## beijing_201802_201803_aq.csv

In [19]:
bei_02_03 = pd.read_csv('Data/beijing_201802_201803_aq.csv')
bei_02_03.shape

(49420, 8)

In [26]:
bei_02_03.head()

         stationId             utc_time  PM2.5  PM10   NO2   CO   O3   SO2
0  aotizhongxin_aq  2018-01-31 16:00:00   49.0  82.0  90.0  0.9  6.0  10.0
1  aotizhongxin_aq  2018-01-31 17:00:00   47.0  80.0  90.0  0.9  5.0  10.0
2  aotizhongxin_aq  2018-01-31 18:00:00   46.0  91.0  91.0  1.3  5.0  28.0
3  aotizhongxin_aq  2018-01-31 19:00:00   60.0  95.0  85.0  2.0  6.0  38.0
4  aotizhongxin_aq  2018-01-31 20:00:00   52.0  91.0  81.0  1.9  5.0  30.0

In [79]:
bei_02_03.shape

(49420, 8)

In [27]:
bei_02_03.tail()

          stationId             utc_time  PM2.5  PM10  NO2  CO  O3  SO2
49415  zhiwuyuan_aq  2018-03-31 11:00:00    NaN   NaN  NaN NaN NaN  NaN
49416  zhiwuyuan_aq  2018-03-31 12:00:00    NaN   NaN  NaN NaN NaN  NaN
49417  zhiwuyuan_aq  2018-03-31 13:00:00    NaN   NaN  NaN NaN NaN  NaN
49418  zhiwuyuan_aq  2018-03-31 14:00:00    NaN   NaN  NaN NaN NaN  NaN
49419  zhiwuyuan_aq  2018-03-31 15:00:00    NaN   NaN  NaN NaN NaN  NaN

In [22]:
print(bei_02_03.stationId.unique())
print(" %d unique stations" %(len(bei_02_03.stationId.unique())))

['aotizhongxin_aq' 'badaling_aq' 'beibuxinqu_aq' 'daxing_aq' 'dingling_aq'
 'donggaocun_aq' 'dongsi_aq' 'dongsihuan_aq' 'fangshan_aq'
 'fengtaihuayuan_aq' 'guanyuan_aq' 'gucheng_aq' 'huairou_aq' 'liulihe_aq'
 'mentougou_aq' 'miyun_aq' 'miyunshuiku_aq' 'nansanhuan_aq'
 'nongzhanguan_aq' 'pingchang_aq' 'pinggu_aq' 'qianmen_aq' 'shunyi_aq'
 'tiantan_aq' 'tongzhou_aq' 'wanliu_aq' 'wanshouxigong_aq'
 'xizhimenbei_aq' 'yanqin_aq' 'yizhuang_aq' 'yongdingmennei_aq'
 'yongledian_aq' 'yufa_aq' 'yungang_aq' 'zhiwuyuan_aq']
 35 unique stations

In [58]:
bj_aq_dataset_1.shape

(311010, 8)

In [59]:
bei_02_03.shape

(49420, 8)

In [71]:
concat = pd.concat([bj_aq_dataset_1, bei_02_03], ignore_index=True)

In [78]:
concat.shape

(360430, 8)

In [72]:
concat = concat.sort_values(by=['stationId','utc_time'])

In [75]:
concat.to_csv("Data/beijing_2017_1_2018_3_aq.csv",index=False)

In [3]:
bb = pd.read_csv("Data/beijing/beijing_2017_1_2018_3_aq.csv")

In [26]:

bb[bb.isnull().any(axis=1)]
bb[bb["PM2.5"].isnull()].shape

(23459, 8)

In [27]:
bb

,stationId,utc_time,PM2.5,PM10,NO2,CO,O3,SO2
0,aotizhongxin_aq,2017-01-01 14:00:00,453.0,467.0,156.0,7.2,3.0,9.0
1,aotizhongxin_aq,2017-01-01 15:00:00,417.0,443.0,143.0,6.8,2.0,8.0
2,aotizhongxin_aq,2017-01-01 16:00:00,395.0,467.0,141.0,6.9,3.0,8.0
3,aotizhongxin_aq,2017-01-01 17:00:00,420.0,484.0,139.0,7.4,3.0,9.0
4,aotizhongxin_aq,2017-01-01 18:00:00,453.0,520.0,157.0,7.6,4.0,9.0
5,aotizhongxin_aq,2017-01-01 19:00:00,429.0,NaN,141.0,6.5,3.0,9.0
6,aotizhongxin_aq,2017-01-01 20:00:00,211.0,NaN,110.0,3.3,NaN,11.0
7,aotizhongxin_aq,2017-01-01 21:00:00,116.0,NaN,87.0,2.2,4.0,13.0
8,aotizhongxin_aq,2017-01-01 22:00:00,51.0,NaN,58.0,1.3,26.0,14.0
9,aotizhongxin_aq,2017-01-01 23:00:00,38.0,NaN,55.0,1.1,28.0,14.0
10,aotizhongxin_aq,2017-01-02 00:00:00,21.0,NaN,40.0,0.7,42.0,16.0
11,aotizhongxin_aq,2017-01-02 01:00:00,16.0,NaN,40.0,0.8,44.0,18.0
12,aotizhongxin_aq,2017-01-02 02:00:00,23.0,NaN,42.0,0.7,45.0,17.0
13,aotizhongxin_aq,2017-01-02 03:00:00,18.0,NaN,30.0,0.6,59.0,14.0
14,aotizhongxin_aq,2017-01-02 04:00:00,58.0,247.0,76.0,2.4,46.0,12.0
15,aotizhongxin_aq,2017-01-02 05:00:00,176.0,NaN,99.0,0.3,42.0,17.0
16,aotizhongxin_aq,2017-01-02 06:00:00,109.0,211.0,86.0,2.6,58.0,14.0
17,aotizhongxin_aq,2017-01-02 07:00:00,267.0,NaN,125.0,4.2,53.0,19.0
18,aotizhongxin_aq,2017-01-02 08:00:00,260.0,NaN,115.0,3.9,56.0,18.0
19,aotizhongxin_aq,2017-01-02 09:00:00,212.0,NaN,112.0,3.6,50.0,14.0
20,aotizhongxin_aq,2017-01-02 10:00:00,183.0,NaN,111.0,0.3,33.0,14.0
21,aotizhongxin_aq,2017-01-02 11:00:00,136.0,NaN,89.0,2.3,41.0,14.0
22,aotizhongxin_aq,2017-01-02 12:00:00,137.0,NaN,89.0,2.2,35.0,13.0
23,aotizhongxin_aq,2017-01-02 13:00:00,125.0,NaN,90.0,2.1,28.0,13.0
24,aotizhongxin_aq,2017-01-02 14:00:00,153.0,NaN,108.0,2.5,13.0,14.0
25,aotizhongxin_aq,2017-01-02 15:00:00,165.0,NaN,126.0,3.1,2.0,14.0
26,aotizhongxin_aq,2017-01-02 16:00:00,225.0,NaN,148.0,4.9,4.0,23.0
27,aotizhongxin_aq,2017-01-02 17:00:00,275.0,NaN,158.0,6.4,7.0,28.0
28,aotizhongxin_aq,2017-01-02 18:00:00,293.0,NaN,155.0,6.4,5.0,17.0
29,aotizhongxin_aq,2017-01-02 19:00:00,293.0,NaN,153.0,6.2,5.0,16.0
...,...,...,...,...,...,...,...,...
360400,zhiwuyuan_aq,2018-03-30 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360401,zhiwuyuan_aq,2018-03-30 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360402,zhiwuyuan_aq,2018-03-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360403,zhiwuyuan_aq,2018-03-30 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360404,zhiwuyuan_aq,2018-03-30 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360405,zhiwuyuan_aq,2018-03-30 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360406,zhiwuyuan_aq,2018-03-30 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360407,zhiwuyuan_aq,2018-03-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360408,zhiwuyuan_aq,2018-03-30 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360409,zhiwuyuan_aq,2018-03-30 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360410,zhiwuyuan_aq,2018-03-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360411,zhiwuyuan_aq,2018-03-30 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360412,zhiwuyuan_aq,2018-03-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360413,zhiwuyuan_aq,2018-03-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360414,zhiwuyuan_aq,2018-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360415,zhiwuyuan_aq,2018-03-31 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360416,zhiwuyuan_aq,2018-03-31 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360417,zhiwuyuan_aq,2018-03-31 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360418,zhiwuyuan_aq,2018-03-31 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360419,zhiwuyuan_aq,2018-03-31 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360420,zhiwuyuan_aq,2018-03-31 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360421,zhiwuyuan_aq,2018-03-31 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360422,zhiwuyuan_aq,2018-03-31 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360423,zhiwuyuan_aq,2018-03-31 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360424,zhiwuyuan_aq,2018-03-31 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360425,zhiwuyuan_aq,2018-03-31 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360426,zhiwuyuan_aq,2018-03-31 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360427,zhiwuyuan_aq,2018-03-31 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360428,zhiwuyuan_aq,2018-03-31 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN
360429,zhiwuyuan_aq,2018-03-31 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN