In [1]:
from torch.utils.data import DataLoader
from torch.autograd import Variable
from Dataloader.Seq2Seq_DataLoader import DataTransformer
import pandas as pd 
import numpy as np

In [2]:
# data_tran = DataTransformer(path = "Data/london/beijing_2017_1_2018_3_aq.csv",
#                                 use_cuda = True)

In [3]:
aqi = pd.read_csv("Data/london/London_historical_aqi_forecast_stations.csv")

In [4]:
aqi = aqi.drop(['Unnamed: 0'],axis=1)

In [5]:
other = pd.read_csv("Data/london/London_historical_aqi_other_stations.csv")

/home/yuhua/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
other.columns

Index(['Station_ID', 'MeasurementDateGMT', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)',
       'NO2 (ug/m3)', 'Unnamed: 5', 'Unnamed: 6'],
      dtype='object')

In [7]:
other = other.drop(['Unnamed: 5','Unnamed: 6'],axis=1)

In [10]:
aqi.head()

  MeasurementDateGMT station_id  PM2.5 (ug/m3)  PM10 (ug/m3)  NO2 (ug/m3)
0      2017/1/1 0:00        CD1           40.0          44.4         36.6
1      2017/1/1 1:00        CD1           31.6          34.4         46.2
2      2017/1/1 2:00        CD1           24.7          28.1         38.3
3      2017/1/1 3:00        CD1           21.2          24.5         32.8
4      2017/1/1 4:00        CD1           24.9          23.0         28.1

In [14]:
other.head()

  Station_ID MeasurementDateGMT  PM2.5 (ug/m3)  PM10 (ug/m3)  NO2 (ug/m3)
0        LH0      2017/1/1 0:00           30.2          34.6         15.9
1        LH0      2017/1/1 1:00           25.4          29.2         11.8
2        LH0      2017/1/1 2:00           24.7          28.1         11.6
3        LH0      2017/1/1 3:00           23.6          27.0         13.0
4        LH0      2017/1/1 4:00           24.2          27.4         27.1

In [12]:
aqi.station_id.unique()

array(['CD1', 'BL0', 'GR4', 'MY7', 'HV1', 'GN3', 'GR9', 'LW2', 'GN0',
       'KF1', 'CD9', 'ST5', 'TH4'], dtype=object)

In [15]:
other.Station_ID.unique()

array(['LH0', 'HR1', 'TD5', 'CT3', 'GB0', 'CR8', 'RB7', 'BX1', 'BX9',
       'KC1', 'CT2', nan], dtype=object)