In [26]:
import pandas  as pd
import numpy as np 
import Dataloader.predict_DataLoader as predLoad
from importlib import reload

reload(predLoad)

In [ ]:
data_transformer =predLoad.DataTransformer(path = "bj_meteorology_2018-04-19-0-2018-04-20-23.csv",
                                    use_cuda = True)

In [15]:
current  = pd.read_csv("bj_meteorology_2018-04-19-0-2018-04-20-23.csv")

In [18]:
current.sort_values(['station_id']).

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
115,2965727,BL0,2018-04-19 07:00:00,NaN,76.4,98.7,NaN,NaN,NaN
134,2965783,BL0,2018-04-19 08:00:00,NaN,81.9,114.9,NaN,NaN,NaN
704,2967391,BL0,2018-04-20 14:00:00,NaN,29.1,45.1,NaN,NaN,NaN
514,2966831,BL0,2018-04-20 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
875,2967858,BL0,2018-04-20 23:00:00,23.2,33.5,49.5,NaN,NaN,NaN
343,2966327,BL0,2018-04-19 19:00:00,16.2,29.3,43.6,NaN,NaN,NaN
267,2966175,BL0,2018-04-19 15:00:00,NaN,19.0,18.9,NaN,NaN,NaN
39,2965503,BL0,2018-04-19 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
818,2967726,BL0,2018-04-20 20:00:00,34.6,48.8,57.4,NaN,NaN,NaN
438,2966607,BL0,2018-04-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
742,2967467,BL0,2018-04-20 16:00:00,12.6,24.7,51.8,NaN,NaN,NaN
799,2967670,BL0,2018-04-20 19:00:00,12.0,26.0,62.0,NaN,NaN,NaN
647,2967223,BL0,2018-04-20 09:00:00,24.4,45.1,73.8,NaN,NaN,NaN
495,2966775,BL0,2018-04-20 03:00:00,11.7,20.5,37.5,NaN,NaN,NaN
172,2965895,BL0,2018-04-19 10:00:00,NaN,59.2,116.9,NaN,NaN,NaN
286,2966195,BL0,2018-04-19 16:00:00,NaN,17.1,25.2,NaN,NaN,NaN
77,2965615,BL0,2018-04-19 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN
628,2967167,BL0,2018-04-20 09:00:00,24.4,45.1,73.8,NaN,NaN,NaN
324,2966271,BL0,2018-04-19 18:00:00,14.4,27.8,58.7,NaN,NaN,NaN
685,2967335,BL0,2018-04-20 13:00:00,NaN,30.0,40.9,NaN,NaN,NaN
856,2967802,BL0,2018-04-20 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
58,2965559,BL0,2018-04-19 03:00:00,40.8,52.6,74.6,NaN,NaN,NaN
476,2966719,BL0,2018-04-20 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN
305,2966215,BL0,2018-04-19 17:00:00,13.9,28.8,79.9,NaN,NaN,NaN
153,2965839,BL0,2018-04-19 09:00:00,NaN,61.5,NaN,NaN,NaN,NaN
457,2966663,BL0,2018-04-20 01:00:00,15.1,25.2,58.7,NaN,NaN,NaN
666,2967279,BL0,2018-04-20 12:00:00,17.8,36.5,44.6,NaN,NaN,NaN
609,2967111,BL0,2018-04-20 09:00:00,24.4,45.1,73.8,NaN,NaN,NaN
723,2967447,BL0,2018-04-20 15:00:00,NaN,21.5,45.7,NaN,NaN,NaN
419,2966551,BL0,2018-04-19 23:00:00,17.7,23.7,47.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
661,2967237,TH4,2018-04-20 09:00:00,33.6,57.7,82.2,NaN,NaN,NaN
148,2965797,TH4,2018-04-19 08:00:00,61.2,103.7,108.6,NaN,NaN,NaN
813,2967684,TH4,2018-04-20 19:00:00,29.3,47.0,51.0,NaN,NaN,NaN
794,2967628,TH4,2018-04-20 18:00:00,25.4,67.6,54.8,NaN,NaN,NaN
186,2965909,TH4,2018-04-19 10:00:00,35.0,56.0,90.2,NaN,NaN,NaN
205,2965965,TH4,2018-04-19 11:00:00,19.5,38.6,60.1,NaN,NaN,NaN
775,2967572,TH4,2018-04-20 17:00:00,15.8,32.3,72.5,NaN,NaN,NaN
224,2966021,TH4,2018-04-19 12:00:00,16.7,30.2,39.1,NaN,NaN,NaN
129,2965741,TH4,2018-04-19 07:00:00,69.3,128.0,109.3,NaN,NaN,NaN
243,2966077,TH4,2018-04-19 13:00:00,13.6,25.1,43.7,NaN,NaN,NaN
756,2967481,TH4,2018-04-20 16:00:00,17.6,36.0,82.0,NaN,NaN,NaN
262,2966133,TH4,2018-04-19 14:00:00,NaN,42.8,87.8,NaN,NaN,NaN
832,2967740,TH4,2018-04-20 20:00:00,48.2,67.5,53.1,NaN,NaN,NaN
281,2966189,TH4,2018-04-19 15:00:00,19.5,41.2,76.0,NaN,NaN,NaN
737,2967461,TH4,2018-04-20 15:00:00,20.6,35.8,108.8,NaN,NaN,NaN
110,2965685,TH4,2018-04-19 04:00:00,47.3,64.8,73.2,NaN,NaN,NaN
300,2966209,TH4,2018-04-19 16:00:00,16.6,33.2,56.7,NaN,NaN,NaN
319,2966229,TH4,2018-04-19 17:00:00,25.7,38.7,63.2,NaN,NaN,NaN
718,2967405,TH4,2018-04-20 14:00:00,24.4,56.0,96.2,NaN,NaN,NaN
338,2966285,TH4,2018-04-19 18:00:00,23.9,34.7,77.0,NaN,NaN,NaN
91,2965629,TH4,2018-04-19 04:00:00,47.3,64.8,73.2,NaN,NaN,NaN
357,2966341,TH4,2018-04-19 19:00:00,16.9,34.7,87.6,NaN,NaN,NaN
699,2967349,TH4,2018-04-20 13:00:00,34.3,122.3,104.4,NaN,NaN,NaN
376,2966397,TH4,2018-04-19 20:00:00,22.7,41.7,104.9,NaN,NaN,NaN
680,2967293,TH4,2018-04-20 12:00:00,21.5,48.8,79.1,NaN,NaN,NaN
395,2966453,TH4,2018-04-19 21:00:00,21.6,44.9,94.7,NaN,NaN,NaN
72,2965573,TH4,2018-04-19 03:00:00,43.6,60.0,75.9,NaN,NaN,NaN
414,2966509,TH4,2018-04-19 22:00:00,19.8,52.6,75.2,NaN,NaN,NaN
433,2966565,TH4,2018-04-19 23:00:00,20.0,33.8,68.7,NaN,NaN,NaN
851,2967796,TH4,2018-04-20 21:00:00,45.3,69.4,41.4,NaN,NaN,NaN

In [19]:
current.set_index(['station_id'], inplace=True)

In [20]:
current

,id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
station_id,,,,,,,,
CD1,2965390,2018-04-19 00:00:00,38.2,50.8,49.1,NaN,NaN,NaN
BL0,2965391,2018-04-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
GR4,2965392,2018-04-19 00:00:00,35.8,51.2,65.9,NaN,NaN,NaN
MY7,2965393,2018-04-19 00:00:00,37.6,53.7,NaN,NaN,NaN,NaN
HV1,2965394,2018-04-19 00:00:00,39.0,46.1,38.2,NaN,NaN,NaN
GN3,2965395,2018-04-19 00:00:00,44.6,56.8,85.0,NaN,NaN,NaN
GR9,2965396,2018-04-19 00:00:00,38.7,52.4,82.5,NaN,NaN,NaN
LW2,2965397,2018-04-19 00:00:00,45.5,55.4,106.2,NaN,NaN,NaN
GN0,2965398,2018-04-19 00:00:00,43.6,44.1,78.9,NaN,NaN,NaN
KF1,2965399,2018-04-19 00:00:00,NaN,34.9,NaN,NaN,NaN,NaN
CD9,2965400,2018-04-19 00:00:00,NaN,59.8,103.0,NaN,NaN,NaN
CT3,2965401,2018-04-19 00:00:00,55.0,NaN,67.5,NaN,NaN,NaN
CT2,2965402,2018-04-19 00:00:00,39.0,NaN,NaN,NaN,NaN,NaN
BX9,2965403,2018-04-19 00:00:00,40.5,NaN,NaN,NaN,NaN,NaN
BX1,2965404,2018-04-19 00:00:00,NaN,NaN,69.9,NaN,NaN,NaN
TH4,2965405,2018-04-19 00:00:00,39.9,54.9,67.4,NaN,NaN,NaN
ST5,2965406,2018-04-19 00:00:00,30.0,NaN,47.8,NaN,NaN,NaN
RB7,2965407,2018-04-19 00:00:00,33.0,NaN,45.7,NaN,NaN,NaN
TD5,2965408,2018-04-19 00:00:00,29.8,NaN,NaN,NaN,NaN,NaN
CD1,2965446,2018-04-19 01:00:00,39.7,52.5,42.0,NaN,NaN,NaN
BL0,2965447,2018-04-19 01:00:00,37.7,53.7,73.4,NaN,NaN,NaN
GR4,2965448,2018-04-19 01:00:00,38.5,57.1,65.3,NaN,NaN,NaN
MY7,2965449,2018-04-19 01:00:00,37.2,52.4,NaN,NaN,NaN,NaN
HV1,2965450,2018-04-19 01:00:00,42.4,48.8,31.8,NaN,NaN,NaN
GN3,2965451,2018-04-19 01:00:00,42.4,54.7,70.6,NaN,NaN,NaN
GR9,2965452,2018-04-19 01:00:00,36.4,50.8,75.8,NaN,NaN,NaN
LW2,2965453,2018-04-19 01:00:00,44.1,55.7,90.6,NaN,NaN,NaN
GN0,2965454,2018-04-19 01:00:00,49.7,52.0,59.0,NaN,NaN,NaN
KF1,2965455,2018-04-19 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN
CD9,2965456,2018-04-19 01:00:00,NaN,NaN,92.5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
GN0,2967809,2018-04-20 22:00:00,36.3,36.3,49.0,NaN,NaN,NaN
KF1,2967810,2018-04-20 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
CD9,2967811,2018-04-20 22:00:00,NaN,NaN,86.0,NaN,NaN,NaN
CT3,2967812,2018-04-20 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
CT2,2967813,2018-04-20 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN
BX9,2967814,2018-04-20 22:00:00,38.6,NaN,NaN,NaN,NaN,NaN
BX1,2967815,2018-04-20 22:00:00,NaN,37.3,20.5,NaN,NaN,NaN
TH4,2967816,2018-04-20 22:00:00,32.0,42.4,31.3,NaN,NaN,NaN
ST5,2967817,2018-04-20 22:00:00,38.0,44.0,21.4,NaN,NaN,NaN
RB7,2967818,2018-04-20 22:00:00,23.0,27.6,19.9,NaN,NaN,NaN
TD5,2967819,2018-04-20 22:00:00,38.0,NaN,NaN,NaN,NaN,NaN
CD1,2967857,2018-04-20 23:00:00,27.6,36.3,32.5,NaN,NaN,NaN
BL0,2967858,2018-04-20 23:00:00,23.2,33.5,49.5,NaN,NaN,NaN
GR4,2967859,2018-04-20 23:00:00,40.2,53.7,22.4,NaN,NaN,NaN
MY7,2967860,2018-04-20 23:00:00,29.6,44.0,NaN,NaN,NaN,NaN
HV1,2967861,2018-04-20 23:00:00,25.7,35.6,19.5,NaN,NaN,NaN
GN3,2967862,2018-04-20 23:00:00,37.2,45.7,40.5,NaN,NaN,NaN
GR9,2967863,2018-04-20 23:00:00,40.2,51.5,45.9,NaN,NaN,NaN
LW2,2967864,2018-04-20 23:00:00,36.7,43.4,42.5,NaN,NaN,NaN
GN0,2967865,2018-04-20 23:00:00,39.9,37.9,50.6,NaN,NaN,NaN
KF1,2967866,2018-04-20 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
CD9,2967867,2018-04-20 23:00:00,NaN,NaN,86.1,NaN,NaN,NaN
CT3,2967868,2018-04-20 23:00:00,22.0,38.6,NaN,NaN,NaN,NaN
CT2,2967869,2018-04-20 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN
BX9,2967870,2018-04-20 23:00:00,39.5,NaN,NaN,NaN,NaN,NaN
BX1,2967871,2018-04-20 23:00:00,NaN,32.0,24.9,NaN,NaN,NaN
TH4,2967872,2018-04-20 23:00:00,33.1,41.4,42.3,NaN,NaN,NaN
ST5,2967873,2018-04-20 23:00:00,38.0,47.0,20.8,NaN,NaN,NaN
RB7,2967874,2018-04-20 23:00:00,30.0,37.8,19.6,NaN,NaN,NaN
TD5,2967875,2018-04-20 23:00:00,32.6,NaN,NaN,NaN,NaN,NaN